<div class="row">
  <div class="col-xs-12">
      <h3>Shopping List</h3>
      <app-shopping-list-edit 
        (ingredientAdded)="onIngredientAdded($event)"
        (ingredientsCleared)="onIngredientsCleared()"
        ></app-shopping-list-edit>
      <div class="list-group" style="max-width: 40%;">
        <button 
          *ngFor="let ingredient of ingredients; let i = index"
          type="button" 
          class="list-group-item">{{ i + 1 }}. {{ ingredient.name }} ({{ ingredient.amount }})</button>
      </div>
  </div>
</div>

